<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="public/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css">
  <title>Inverted Index</title>
</head>
<body ng-app="Indexed">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <p id="main">Inverted Index</p>
        </a>
        <a class="navbar-brand" href="#">
          <p id="aboutnav">About</p>
        </a>
      </div>
    </div>
  </nav>
  <div class="container" ng-controller="fileController">
    <div class="row">
      <div class="col-lg-5">
        <div class="about">
          <p class="text-justify"><strong>An inverted index</strong> consists of a list of all the unique words that appear in any document, and for each word, a list of the documents in which it appears. Inverted index object takes a JSON array of text objects and creates an index from the array. The index allows a user to search for text blocks in the array that contain a specified collection of words.
          </p>
          <h5>How It Works</h5>
          <ul>
            <li>Creating an Index</li>
            <ol>
              <li>Upload your JSON file</l1>
                <li>Select a file to create it's index</li>
                <li>Click 'create index' button</li>
            </ol>
            <li>Searching an Index</li>
            <ol>
              <li>Select a file whose Index has been created already</l1>
                <li>Enter your search word(s)</li>
                <li>Click on the 'search' button</li>
            </ol>
          </ul>
        </div><br>
        <div class="form-group">
          <label for="file-input" class="btn btn-default btn-file btn-success">Upload
              <input type="file" id="file-input" multiple accept="application/json">
            </label>
          <p class="help-block" id="selectFile">Select a file to upload.</p>
        </div>
        <div>
          <select class="form-control" id="selectedFile">
              <option>--Select a file to create index--</option>
              <option ng-repeat="name in fileNames">{{ name }}</option>
            </select>
        </div><br>
        <button class="btn btn-success" ng-click="createIndex()">Create Index</button>
      </div>
      <div class="col-lg-7">
        <form class="navbar-form navbar-left" role="search">
          <div>
            <select class="form-control" id="searched">
              <option>Select a file to search</option>
              <option ng-repeat="(key, value) in indexedFiles">{{ key }}</option>
              <option>All files</option>
            </select>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Word" id="searchBox">
            </div>
            <button type="submit" class="btn btn-success" ng-click=searchIndex()>Search</button>
        </form>
        </div>
        <div ng-repeat="(name, index) in indexed">
          <table class="table table-striped" ng-show="showTable">
            <div class="row" ng-show="tableTitle">
              <div class="col-md-12">
                <h2>Inverted Index Table for {{ name }} </h2>
              </div>
            </div>
            <thead>
              <tr>
                <th>Words</th>
                <th ng-repeat="items in range(docsCount[name])">Document {{ items + 1 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, values) in index">
                <td>{{ key }}</td> 
                <td ng-repeat="number in range(docsCount[name])"><span ng-if="values.includes(number)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table table-striped">
            <div class="row">
              <div class="col-md-12">
                <h2>Search result in {{ name }}</h2>
              </div>
            </div>
            <thead>
              <tr>
                <th>Words</th>
                <th ng-repeat="i in range(docsCount[name])">Document {{ i + 1 }}</th>
              </tr>
            </thead>
            <tbody>  
              <tr ng-repeat="(key, values) in mySearch">
              <td>{{ key }}</td>
              <td ng-repeat="number in range(docsCount[name])"><span ng-if="values.includes(number)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <footer>
    <p>(c) 2017 <a href="#">Home</a>.All Rights Reserved.<br></p>
  </footer>
  <!-- scripts are loaded here -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="src/inverted-index.js"></script>
  <script type="text/javascript" src="public/js/app.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.about').hide();
      $('#aboutnav').click(function() {
        $('.about').toggle();
      });
    }); 
  </script>
</body>
</html>