<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="public/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css">
  <title>Inverted Index</title>
</head>
<body ng-app="Indexed">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <p id="main">Inverted Index</p>
        </a>
      </div>
    </div>
  </nav>
  <div class="container content" ng-controller="fileController">
    <div class="row">
      <div class="col-lg-6">
        <h3><strong>Overview</strong></h3>
        <p class="text-justify"><strong>An inverted index</strong> consists of a list of all the unique words that appear in any document, and for each word, a list of the documents in which it appears. Inverted index object takes a JSON array of text objects and creates an index from the array. The index allows a user to search for texts in the array that contain a specified collection of words.
        </p>
        <h5>How It Works</h5>
        <ul>
          <li>Creating an Index</li>
          <ol>
            <li>Upload your JSON file</li>
            <li>Select a file to create it's index</li>
            <li>Click 'create index' button</li>
          </ol>
          <li>Searching an Index</li>
          <ol>
            <li>Select a file whose Index has been created already</li>
            <li>Enter your search word(s)</li>
            <li>Click on the 'search' button</li>
          </ol>
        </ul>
      <br>
    </div>
      <div class="col-md-6">
        <div class="form-group col-lg-12">
          <h4 id="display" class="help-block" id="selectFile"> Select a file to upload
          <label for="file-input" class="btn btn-default btn-file btn-success">Upload
            <input type="file" id="file-input" multiple accept="application/json">
          </label>
          </h4>
        </div>
        <div class="col-md-6">
          <select class="form-control form-group" id="selectedFile">
            <option>--Select a file to create index--</option>
            <option ng-repeat="name in fileNames">{{ name }}</option>
          </select>
        </div><br>
        <button class="btn btn-success" ng-click="createIndex()">Create Index</button>
      </div>
      <div class="col-md-6">
        <div class="form-group col-md-6">
          <select class="form-control" id="searchFile">
            <option>Select a file to search</option>
            <option ng-repeat="(key, value) in indexedFiles">{{ key }}</option>
            <option>All files</option> 
          </select><br>
          <div class="col-md-15">
            <input type="text" class="form-control form-group col-md-6" placeholder="Search Word" id="searchBox">
          </div><br>
          <button type="submit" class="btn btn-success" ng-click=searchIndex()>Search</button>
        </div>
      </div>
    </div>
    <div ng-repeat="(name, index) in indexed">
      <table class="table table-striped" ng-show="showTable">
        <div class="row" ng-show="tableTitle">
          <div class="col-md-12">
            <h2>Inverted Index Table for {{ name }} </h2>
          </div>
        </div>
        <thead>
          <tr>
            <th>Tokens</th>
            <th ng-repeat="items in range(docsCount[name])">Document {{ items + 1 }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, values) in index">
            <td>{{ key }}</td> 
            <td ng-repeat="number in range(docsCount[name])"><span ng-if="values.includes(number)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span><span ng-if="values.includes(number) === false"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" ng-show="showResultTable" ng-repeat="(name, index) in mySearch">
      <table class="table table-striped">
        <div class="row">
          <div class="col-md-12">
            <h2>Search result for "{{ query }}" in {{ name }}</h2>
          </div>
        </div>
        <thead>
          <tr>
            <th>Tokens</th>
            <th ng-repeat="i in range(docsCount[name])">Document {{ i + 1 }}</th>
          </tr>
        </thead>
        <tbody>  
          <tr ng-repeat="(key, values) in index">
          <td>{{ key }}</td>
          <td ng-repeat="number in range(docsCount[name])"><span ng-if="values.includes(number)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span><span ng-if="values.includes(number) === false"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <br />
  </div>
  <!-- scripts are loaded here -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="src/inverted-index.js"></script>
  <script type="text/javascript" src="public/js/app.js"></script>

  <footer>
    <p>(c) 2017 <a href="#">Home</a>.All Rights Reserved.<br></p>
  </footer>
</body>
</html>